<mat-toolbar>Productos</mat-toolbar>

<router-outlet></router-outlet>

<div [hidden]="route.children.length != 0">
  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input
          matInput
          (keyup)="filtrar($event.target.value)"
          placeholder="Buscar producto"
        />
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="idProducto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.idProducto }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.nombre }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="marca">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Marca
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.marca }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-button
            color="primary"
            [routerLink]="['/producto/editar', row.idProducto]"
          >
            <mat-icon>ballot</mat-icon>
          </button>
          <button mat-button color="accent" (click)="eliminar(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <br />

  <button
    mat-fab
    color="accent"
    routerLink="/producto/nuevo"
    style="float: right; margin-right: 20px;"
  >
    <mat-icon>create</mat-icon>
  </button>
</div>
