<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name">TAREA 2</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px;" mode="push">
      <mat-nav-list>
        <a mat-list-item routerLink="/personas" (click)="sidenav.toggle()">
          <mat-icon>people_alt</mat-icon> &nbsp;Personas
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/producto" (click)="sidenav.toggle()">
          <mat-icon>all_inbox</mat-icon> &nbsp; Productos
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/venta" (click)="sidenav.toggle()">
          <mat-icon>shopping_cart</mat-icon> &nbsp; Ventas
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
