<form
  class="example-container"
  novalidate
  [formGroup]="form"
  (ngSubmit)="operar()"
>
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id" />
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Nombre Producto"
      required
      formControlName="nombre"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Marca Producto"
      required
      formControlName="marca"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink="/producto" type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br />
