.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.paneles {
  width: 50%;
}

.inputs {
  width: 75%;
}

.botonListaProducto {
  margin-left: 50%;
}

.boton {
  width: 100%;
  margin-right: 10px;
}
