<div class="example-container">
  <mat-form-field>
    <input
      matInput
      placeholder="Escoja una fecha"
      [max]="maxFecha"
      [matDatepicker]="picker"
      [(ngModel)]="fechaSeleccionada"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      placeholder="Selecciona persona"
      [(value)]="idPersonaSeleccionada"
      name="idPersona"
    >
      <mat-option
        *ngFor="let item of personas$ | async"
        [value]="item.idPersona"
      >
        {{ item.nombres }} {{ item.apellidos }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Importe"
      type="number"
      [(ngModel)]="importe"
      name="importe"
    />
  </mat-form-field>

  <div class="paneles">
    <mat-card>
      <mat-card-title>Productos</mat-card-title>
      <mat-card-content class="example-container">
        <mat-form-field class="inputs">
          <mat-select
            placeholder="Seleccione producto"
            [(value)]="idProductoSeleccionado"
          >
            <mat-option
              *ngFor="let item of productos$ | async"
              [value]="item.idProducto"
            >
              {{ item.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Cantidad"
            type="number"
            [(ngModel)]="cantidad"
            name="cantidad"
          />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          (click)="agregarProducto()"
          type="button"
        >
          Agregar
        </button>
        <br />
        <div class="example-container" *ngIf="detalleVenta.length > 0">
          <h2>Lista de productos</h2>
          <mat-grid-list
            cols="2"
            rowHeight="60px"
            *ngFor="let item of detalleVenta; let i = index"
          >
            <mat-grid-tile>
              {{ i + 1 }} -
              {{
                item.producto.nombre
                  .concat(" ")
                  .concat("(" + item.cantidad + ")")
              }}
            </mat-grid-tile>
            <mat-grid-tile>
              <button
                mat-raised-button
                color="warn"
                (click)="borrarProducto(i)"
                class="botonListaProducto"
              >
                Borrar
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <button
        mat-raised-button
        class="boton"
        (click)="operar()"
        [disabled]="estadoBotonRegistrar()"
        color="primary"
        type="submit"
      >
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="boton"
        color="accent"
        routerLink="/persona"
        type="button"
      >
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
